*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    min-height: 100vh;
    max-width: auto;
    margin: 0;
    
}

.nowrap {
    white-space: nowrap;
}

h1{
    text-align: center;
    background-color: rgb(6, 6, 6);
    padding: 1.5rem 1.5rem ;
    color: aliceblue;
    position: sticky;
    top: 0;
    z-index: 1;
}

h2{
    padding: 1rem 1rem;
    text-align: center;
}

section {
    width: 50vw;
    padding: 0.5rem 0.5rem;
    border: 1px solid black;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    display: flow-root;
}

.series_cast{
    text-align: right;
}

.dg_details {
    width: 200px;
    height: 300px;
}

.float_left{
    float: left;
    margin-right: 1em;
}