*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    min-height: 100vh;
    max-width: auto;
    margin: 0;
    
}

.nowrap {
    white-space: nowrap;
}

h1{
    text-align: center;
    background-color: rgb(6, 6, 6);
    padding: 1.5rem 1.5rem ;
    color: aliceblue;
    position: sticky;
    top: 0;
    z-index: 1;
}

h2{
    padding: 1rem 1rem;
    text-align: center;
}

.series {
    display: flex;
    justify-content: space-between;
}

.series_details{
    width: 50vw;
    padding: 0.5rem 0.5rem;
    border: 1px solid black;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    display: flow-root;
}

.top_cast_heading{
    text-align: right;
    padding: 1em 1em;
}


.cast_member{
    width: 250px;
    display: flow-root;
    padding: 10px;
}

/*desinging the profile pic of every cast member */
.cast_member_1 {
    width: 100px;
    height: auto;
    border: 1px solid aliceblue;
    border-radius: 50%;
    margin-left: 5px;
    float: right;
}

/*flexing the parent to bring the name in the middel*/
.cast_name{  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.dg_details {
    width: 200px;
    height: 300px;
}

.float_left{
    float: left;
    margin-right: 1em;
}


